
body
{
    background-image: url(Introductions/IndexPage/goldengate.jpg) ;
    background-image: linear-gradient(to bottom, rgba(226,226,226,.6) 0%,rgba(226,226,226,0.6) 80%),url(Introductions/IndexPage/goldengate.jpg);

    background-size: cover;
    background-repeat: no-repeat;

}
.buttons {
    background-color: #4CAF50; /* Green */
    border: outset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
#licencestuff
{

     background-color: orange;
}
h1,h2,p,ul
{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    color:black
}
.center
{
    text-align:center;
}
.left
{
    text-align:left;
}
img.images
{
  display:block;
  margin-right:auto;
}
