<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Pratik Mulpury">
    <!-- libraries neded for this page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <!-- code for this page -->
    <link rel="stylesheet" href="css/styles.css">
    <script src="javascript/projectmanager.js" async></script>
    <!-- title -->
    <title>Card Based Project Manager</title>
</head>
<body>
    
    <div id="todoapp">
        <section v-cloak>
            <label>Add New List:</label>
            <input type = "text"
            placeholder="New List Name?"
            v-model="newListName"
            @keyup.enter="addList">
        </section>                
        <br>
        &nbsp;&nbsp;<button v-on:click="toggleExpandCollapseLists()"> <b>{{expandCollapseListText}}</b> </button>
        <br>
        <br>
        <ul id="all-lists">
            <!-- loop each element in list as usual -->
            <li v-for="(list, index) in lists">                             
                <label>{{ list.name }}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <button v-on:click="showEditListInput(index)"> (Edit) </button>
                   <input type = "text" v-model = "updatedListName" :placeholder="list.name" v-show="list.isEditName > 0" @keyup.enter="editList(index)">
                   
                   <button v-on:click="deleteList(index)"> (Delete) </button>
                   
                   <button v-on:click="moveListUp(index)"> (Up) </button>
                   <button v-on:click="moveListDown(index)"> (Down) </button>

                
                <ul id="all-cards" v-show="!collapseLists">
                    <!-- loop each element in Cards within each list -->
                    <li v-for="(card, index) in list.Cards">
                
                        <label v-on:click="toggleExpandCollapseCard(index, list)">{{ card.name }}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button v-on:click="showEditCardInput(index, list)"> (Edit) </button>
                        <input type = "text" v-model = "updatedCardName" :placeholder="card.name" v-show="card.isEditName > 0" @keyup.enter="editCard(index, list)">
                        
                        <button v-on:click="deleteCard(index, list)"> (Delete) </button>
                        
                        <button v-on:click="moveCardUp(index, list)"> (Up) </button>
                        <button v-on:click="moveCardDown(index, list)"> (Down) </button>

                        <button v-on:click="showMoveCardToListInput(index, list)"> (Move to List) </button>

                        <!-- list of all lists in the system -->
                        &nbsp;&nbsp;&nbsp; <select id="all-moveto-users" v-model="moveCardToListName" v-show="card.isMoveToList > 0" @change="moveCardToList(index, list)">
                                <option value=""></option>
                                <option v-for="list in lists" :value="list.name">
                                    {{list.name}}
                                </option>
                        </select>
                       
                        <!-- this section is the expanded view of the card -->
                        <div  v-show="card.collapseCard == 0">
                            <br>
                            &nbsp;&nbsp;&nbsp; <b>Name:</b> {{card.name}}
                            <br>
                            &nbsp;&nbsp;&nbsp; <b>Completed:</b> {{card.completed}}
                            <br><br>
                            <!-- comments section -->
                            <section>
                                &nbsp;&nbsp;&nbsp; <b>Comments:</b>  <button v-on:click="showAddCommentToCardInput(card)"> (Add Comment) </button>
                                <input type = "text" v-model = "newComment" v-show="card.isAddComment > 0" @keyup.enter="addCommentToCard(card)">
                                
                                <ul id="all-comments">
                                    <!-- loop each element in Comments within each card -->
                                    <li v-for="(comment, index) in card.Comments">
                                
                                        <label>{{ comment.description }}</label>
                                                                               
                                    </li>
                                </ul>                                  
                                <br>
                            </section>
                            <!-- end of comments section -->

                            <br><br>

                            <!-- users section -->
                            <section>
                                &nbsp;&nbsp;&nbsp; <b>Users:</b>  <button v-on:click="showAddUserToCardInput(card)"> (Assign User) </button>
                                
                                <!-- list of all users in the system -->
                                &nbsp;&nbsp;&nbsp; <select id="all-users" v-model="newUser" v-show="card.isAddUser > 0" @change="addUserToCard(card)">
                                    <option value=""></option>
                                    <option v-for="user in users" :value="user.username">
                                        {{user.username}}
                                    </option>
                                </select>


                                <ul id="all-assigned-users">
                                    <!-- loop each element in Users within each card -->
                                    <li v-for="(user, index) in card.Users">
                                
                                        <label>{{ user.username }}</label>
                                                                               
                                    </li>
                                </ul>                                  
                                <br>
                            </section>
                            <!-- end of users section -->
                        </div>
                        <!-- end of section which contains the expanded view of the card -->
                    </li>
                </ul>   
                <section v-show="!collapseLists">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <b><button v-on:click="showAddCardInput(index)"> Add New Card </button></b>
                        <input type = "text"
                        placeholder="New Card Name?"
                        v-model="newCardName"
                        v-show="list.isAddCard > 0" 
                        @keyup.enter="addCard(index)">
                    </section>                               
                <br><br> 
                
                

            </li>
        </ul>
 

        <button v-on:click="pushDummyData()"> Push dummy data </button>
    </div>
</body>
</html>