<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Pratik Mulpury">
    <!-- libraries neded for this page -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vuefire/1.4.5/vuefire.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
    <!-- code for this page -->
    <link rel="stylesheet" href="css/styles.css">
    <script src="javascript/signup.js" async></script>
    <!-- title -->
    <title>Trello Clone</title>
</head>
<body>
    <div id="vue-instance">

        <header class="header">
            <h1>SignUp Page</h1>
        </header>

        <input class="new-email"
        placeholder="Email"
        v-model="newEmail"
        >
        <input class="new-username"
        placeholder="Username?"
        v-model="newUsername"
        >

        <input type="file" id="files" name="files[]" />
        <label for="imgTitle">Image Title:</label>
        <input type="text" id="imgTitle" v-model="newImageTitle">
        <br>
        <button v-on:click="sayHello">Hey there!</button>

    </div>
</body>
</html>